/*general*/
*, *::before, *::after {margin:0;padding:0;box-sizing: border-box;font-family: 'Tajawal', sans-serif;font-size:16px;font-weight: 300;}

body {height: fit-content; max-height:400vh; overflow-x:hidden; max-width: 100vw; width:100%;}

img {max-width: 100%;}

header img {height: 15rem; margin: 1rem;}

section {height:100vh;}

h2 {font-size: 2rem; font-weight: 500; letter-spacing: 1rem;margin-bottom: 1rem;}

/*FONDO ABOUT ME*/
#about_me {
    background-image: url(../img/fondoabout.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}


/*HEADER*/
header {
    position:fixed;
    top:0;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

header a {
    color: #FFE8F7;
    text-decoration: none;
    font-weight: 500;
}

header a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

header nav {
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-items: center;
}


/*GENERAL ASPECTS FOR SECTIONS*/
section {
    display:flex;
    justify-content: center;
    align-items: center;
}


/*MAIN PAGE: LANDING PAGE AND GENERAL ASPECTS FOR CARDS*/

.card {
    background-color:#FFF5FF;
    border-radius: 1rem;
    height:fit-content;
    width: 30vw;
    display:flex;
    flex-direction:column;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
}

#infoAbout img {
    width: 5rem; 
    border-radius:50%; 
    margin: 0.2rem 0.2rem 0.2rem 0;
}

#infoAbout {
    display:flex; 
    align-items: center;
}

.card p {
    color: #904a6c;
    font-weight: 400;
}

.card h1 {
    font-size: 1.2rem; 
    margin-left: 1rem;
    font-weight: 600; 
    letter-spacing: 0.2rem;
    color: #51435d;
}


#cardAbout {border: 5px inset #ec8e9e;}
/*WEBSITES PAGE*/
#my_websites {
    flex-direction: column;
    background-image: linear-gradient(to top, #ec8e9e, #d57c92, #be6b85, #a75a79, #904a6c);
    text-align:center;
}
#websitesCards {display:flex; justify-content: space-between; align-items: center;align-content: center;}

.websiteCard {height: 45vh; display:flex;flex-direction: column; justify-content: center; margin: 0.2rem 0.5rem;}

/*PAGE FOR MY STUDIES*/
#my_studies hgroup h2 {
    font-size: 1rem;
    letter-spacing: 0.25rem;
}

#my_studies hgroup {
    text-align:right;
}

#my_studies .card {
    margin: 2rem;
}

.grid {
    display:grid;
    place-content: center;
    gap: 1rem;
}

.two {grid-template-columns: 50% 50%; grid-template-rows: 1fr;}

/*backgrounds*/
#my_studies {background-image: linear-gradient(to bottom, #ec8e9e, #d57c92, #be6b85, #a75a79, #904a6c);}

#future_projects {background-image: linear-gradient(to top, #ec8e9e, #d57c92, #be6b85, #a75a79, #904a6c);}






@media screen and (max-width:750px) {
    #infoAbout {flex-direction:column;}
    #cardAbout {width: 80vw;}

    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 60vh;
        margin-top: 1rem;

    }

    header nav {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -45vh;
    }

    #my_websites {
        height:200vh;
    }

    #websitesCards {
        flex-direction: column;
    }

    .card {width: 90vw; height: fit-content;}

    #my_studies {flex-direction: column;}


}


@media screen and (max-width: 500px) {
    .grid {grid-template-columns: 1fr; grid-template-rows: 1fr 1fr;}
}